/*
  <removereasons>
    <pmsubject>
      Your {kind} {title} was removed from /r/{subreddit}.
    </pmsubject>
    <reason>
      Your {kind} has been removed from /r/{subreddit} because it is in violation of rule
      <select id="rulereason">
        <option>1. No non-ragecomics allowed</option>
        <option>2. No comparison comics</option>
        <option>3. No reposting</option>
        <option>5. No meta-posts</option>
        <option>7. Comics must be between 2 and 8 panels</option>
        <option>8. No blogposts</option>
        <option>9. No vote-begging</option>
        <option>10. Be light on text</option>
        <option>12. No dead horse beating</option>
      </select>.
      Please read the rule in it's entirety before posting again. Remember, additional infractions may result in a ban!
      <textarea placeholder="Additional notes" />
    </reason>
    <reason><textarea id="custom-reason" placeholder="Enter Custom reason" /></reason>
  </removereasons>
  */

// CSS3 helpers
@import compass/css3
// Our partials
@import partials/colors

// Configs
$support-for-original-webkit-gradients: false // The reddit parser barfs on these
$default-border-radius: 3px

/* Announcement controls. Comment/Uncomment as needed */
.content
  margin-top: 35px

// Generic Elements
body
  background: url(%%background%%)
  font-family: "Helvetica Neue", arial, Helvetica, sans-serif
  font-size: 10px

// Header
#header
  +background(linear-gradient($lightblue, $darkblue))
  border-bottom: 1px solid darken($darkblue, 20%)

  .redditname
    text-shadow: 0px 1px 0px lighten($lightblue,10%)
    a, a:visited
      color: black

  .tabmenu
    margin-bottom: 5px

    @for $i from 1 through 12
      li:nth-child(#{$i})
        z-index: 13 - $i
        a
          z-index: 13 - $i

    li
      margin: 0 -3px 0 0
      position: relative
      a
        border: 1px solid darken($darkblue, 20%)
        padding: 5px
        color: hsl(0,0%,50%)
        background: lighten($lightblue, 40%)
        +border-top-radius
        &:hover
          color: black
      &.selected
        z-index: 13
        a
          color: black
          background: white
          z-index: 13
          border-bottom: 1px solid white

#sr-header-area
  background: none
  border-bottom: 1px solid $darkblue
  text-transform: capitalize
  font-size: 10px
  text-shadow: 0px 1px 0px lighten($lightblue,10%)
  +box-shadow(0px 1px 0px $lightblue)

  .width-clip
    margin-right: 50px

  .sr-list
    .separator
      color: $darkblue
    a, a:visited
      color: black

  .drop-choices
    background: white
    border: 1px solid hsl(0,0%,80%)
    border-top: 0
    padding: 5px
    text-shadow: none
    font-weight: bold
    +border-bottom-radius

    a.choice
      color: black
      padding: 3px 0

      &:hover
        +background(linear-gradient($lightblue, $darkblue))
        padding:
          left: 7px
          right: 7px
        margin: 0 -7px
      &:visited
        color: black
#sr-more-link
  background: none
  right: -50px

#header-bottom-right
  border-top: 1px solid #004d66
  border-left: 1px solid #004d66
  color: gray
  background: #e8f7fc

  a
    color: gray !important
    &:hover
      color: black !important

  #userbarToggle
    border-top: 1px solid #004d66
    border-left: 1px solid #004d66
    border-bottom: 1px solid #004d66
    border-right: 1px #e8f7fc
    color: gray
    background: #e8f7fc
    top: -1px

.side
  padding: 10px
  margin-right: 0
  border-top: 0
  border-right: 0
  background: hsl(0,0%,95%)
  border: 1px solid hsl(0,0%,90%)
  +border-bottom-left-radius


  a
    color: $link-unvisited

  .spacer
    background: transparent

  #search
    input
      +border-radius
  .titlebox
    form
      position: static
    h1 a
      color: hsl(0,0,50%)
    .leavemoderator, .flairtoggle, .leavecontributor-button
      background: transparent
      color: $side-gray

    .usertext
      border-bottom: 1px solid hsl(0,0%,85%)
  .sidecontentbox
    .title
      border: 1px solid $darkblue
      padding: 5px
      +background(linear-gradient($lightblue,$darkblue))
      +border-top-radius

      h1
        color: darken($darkblue, 20%)
        text-transform: lowercase
        font-weight: bold
    .helplink
      margin-right: 5px
      color: hsl(0,0%,30%)
    .content
      +background(radial-gradient(bottom,circle, white, hsl(0,0%,90%)))
      border: 1px solid $darkblue
      +border-bottom-radius

  .icon-menu
    a
      background: transparent
  .morelink
    border: 1px solid darken($darkblue,20%)
    +background(linear-gradient($lightblue, $darkblue))
    +border-radius

    a
      color: darken($darkblue, 20%)
      text-shadow: 0px 1px 0px $lightblue

    .nub
      display: none

  hr
    border: 0
    border-top: 1px solid hsl(0,0%,85%)
    border-bottom: 1px solid white
    margin: 10px 0

  .bottom
    border-top: 1px solid white

  /* Rules */
  table
    display: block
    margin-left: 0

    thead
      display: none

    tbody
      display: block
      list-style-type: decimal
      list-style-position: inside
      color: white

      tr
        display: list-item

        &:first-child td:first-child
          border-top: 1px solid darken($darkred, 20%)
          +border-top-radius
        &:last-child
          td:first-child, td:last-child
            border-bottom: 1px solid darken($darkred, 20%)
            +border-bottom-radius

          &:hover td:first-child
            border-bottom: 0
            +border-radius(0)

        td
          display: block
          border: none

          &:first-child
            background: $darkred
            color: white
            padding: 5px
            cursor: pointer
            border: 1px solid darken($darkred, 20%)
            border:
              top: 0
              bottom: 0

          &:last-child
            display: none
            color: black
            border: 1px solid darken($darkred, 20%)
            border-top: 0
            padding: 5px 5px 10px

        &:hover td:last-child
          display: block

  /* Announcements */
  h6:nth-of-type(1)
    position: absolute
    top: 70px
    left: 53px
    background: $lightred
    color: black
    border: 1px solid $darkred
    border-left: 0
    border-right: 0
    z-index: 100
    height: 24px
    line-height: 24px
    text-shadow: 0px 1px 0px lighten($lightred, 10%)

    a, a:visited
      color: inherit

    &::before
      background: url(%%leftcap%%) no-repeat center left
      position: absolute
      left: -27px
      top: -2px
      content: ' '
      width: 27px
      height: 30px


    &::after
      background: url(%%rightcap%%) no-repeat center right
      position: absolute
      right: -27px
      top: -2px
      content: ' '
      width: 27px
      height: 30px





// Submit, moderator config, shit like that
.linefield, .roundfield
  border: 1px solid darken($darkblue, 10%)
  color: darken($darkblue, 20%)
  +border-radius
  +background(linear-gradient($lightblue, $darkblue))

  .gray, .title
    color: darken($darkblue, 20%)

.roundfield #suggested-reddits a
  color: black
  text-shadow: 0px 1px 0px lighten($darkblue, 10%)

// Link listing
.link
  margin-right: 321px
  padding: 5px
  position: relative
  +border-radius

  &.even
    background: desaturate(lighten($lightblue, 40%), 40%)

  &.last-clicked
    border: 1px dotted gray

.thing .title, .link .title
  &, &.loggedin
    color: $link-unvisited

    &:visited, &.click
      color: $link-visited

// Other shit
.sitetable
  .usertext-body, .comment .md p >
    a
      color: $link-unvisited

      &:visited
        color: $link-visited

/* Face codes */

%faces
  width: 25px
  height: 25px
  content: " "
  background-image: url(%%hypermegafinal3%%)
  display: inline-block

a[href="/fy1"]:nth-of-type(n):after
  @extend %faces
  background-position: -240px -30px
  width: 25px
  height: 25px
a[href="/milk"]:nth-of-type(n):after
  @extend %faces
  background-position: -210px -60px
  width: 21px
  height: 25px
a[href="/pickletime"]:nth-of-type(n):after
  @extend %faces
  background-position: -240px -87px
  width: 56px
  height: 21px
a[href="/fuckthatshit"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -180px
  width: 61px
  height: 88px
a[href="/teethrage"]:nth-of-type(n):after
  @extend %faces
  background-position: -331px -61px
  width: 59px
  height: 59px
a[href="/foreveralone"]:nth-of-type(n):after
  @extend %faces
  background-position: -330px -120px
  width: 88px
  height: 95px
a[href="/bzz"]:nth-of-type(n):after
  @extend %faces
  background-position: -125px -150px
  width: 97px
  height: 28px
a[href="/creepy"]:nth-of-type(n):after
  @extend %faces
  background-position: -300px -60px
  width: 30px
  height: 31px
a[href="/itstime"]:nth-of-type(n):after
  @extend %faces
  background-position: -270px -300px
  width: 41px
  height: 41px
a[href="/gtroll"]:nth-of-type(n):after
  @extend %faces
  background-position: -149px -300px
  width: 35px
  height: 31px
a[href="/fap"]:nth-of-type(n):after
  @extend %faces
  background-position: -331px -330px
  width: 39px
  height: 45px
a[href="/pfttxt"]:nth-of-type(n):after
  @extend %faces
  background-position: -120px -571px
  width: 12px
  height: 24px
a[href="/biggusta"]:nth-of-type(n):after
  @extend %faces
  background-position: -548px -414px
  width: 54px
  height: 57px
a[href="/notsureifgusta"]:nth-of-type(n):after
  @extend %faces
  background-position: -602px -414px
  width: 54px
  height: 59px
a[href="/hahahahaha"]:nth-of-type(n):after
  @extend %faces
  background-position: -60px -541px
  width: 35px
  height: 34px
a[href="/2229"]:nth-of-type(n):after
  @extend %faces
  background-position: -108px -403px
  width: 47px
  height: 67px
a[href="/smokeweedeveryday"]:nth-of-type(n):after
  @extend %faces
  background-position: -180px -420px
  width: 45px
  height: 54px
a[href="/drunk1"]:nth-of-type(n):after
  @extend %faces
  background-position: -300px -420px
  width: 36px
  height: 54px
a[href="/truestory"]:nth-of-type(n):after
  @extend %faces
  background-position: -336px -415px
  width: 59px
  height: 56px
a[href="/didthere"]:nth-of-type(n):after
  @extend %faces
  background-position: -393px -415px
  width: 57px
  height: 56px
a[href="/tobey"]:nth-of-type(n):after
  @extend %faces
  background-position: -405px -476px
  width: 45px
  height: 56px
a[href="/hatersgonnahate"]:nth-of-type(n):after
  @extend %faces
  background-position: -454px -476px
  width: 35px
  height: 56px
a[href="/dinostare"]:nth-of-type(n):after
  @extend %faces
  background-position: -495px -476px
  width: 82px
  height: 58px
a[href="/puke"]:nth-of-type(n):after
  @extend %faces
  background-position: -575px -483px
  width: 63px
  height: 50px
a[href="/awthanks"]:nth-of-type(n):after
  @extend %faces
  background-position: -630px -479px
  width: 60px
  height: 50px
a[href="/knowthatfeel"]:nth-of-type(n):after
  @extend %faces
  background-position: -450px -415px
  width: 60px
  height: 56px
a[href="/no"]:nth-of-type(n):after
  @extend %faces
  background-position: -510px -420px
  width: 37px
  height: 48px
a[href="/jackieeeee!"]:nth-of-type(n):after
  @extend %faces
  background-position: -210px -361px
  width: 95px
  height: 54px
a[href="/happyjackie"]:nth-of-type(n):after
  @extend %faces
  background-position: -303px -373px
  width: 64px
  height: 40px
a[href="/ohgodwhy"]:nth-of-type(n):after
  @extend %faces
  background-position: -366px -373px
  width: 36px
  height: 40px
a[href="/ohgodyes"]:nth-of-type(n):after
  @extend %faces
  background-position: -410px -373px
  width: 42px
  height: 40px
a[href="/jetpack"]:nth-of-type(n):after
  @extend %faces
  background-position: -451px -373px
  width: 59px
  height: 40px
a[href="/badass"]:nth-of-type(n):after
  @extend %faces
  background-position: -511px -365px
  width: 68px
  height: 56px
a[href="/soclose"]:nth-of-type(n):after
  @extend %faces
  background-position: -580px -340px
  width: 70px
  height: 71px
a[href="/allthethings"]:nth-of-type(n):after
  @extend %faces
  background-position: -590px -300px
  width: 60px
  height: 37px
a[href="/youdontsay"]:nth-of-type(n):after
  @extend %faces
  background-position: -590px -258px
  width: 60px
  height: 40px
a[href="/dinofuckyeah"]:nth-of-type(n):after
  @extend %faces
  background-position: -590px -210px
  width: 55px
  height: 45px
a[href="/dinofuckyeah2"]:nth-of-type(n):after
  @extend %faces
  background-position: -646px -210px
  width: 45px
  height: 45px
a[href="/excitedtroll"]:nth-of-type(n):after
  @extend %faces
  background-position: -595px -160px
  width: 55px
  height: 50px
a[href="/feelsbadman"]:nth-of-type(n):after
  @extend %faces
  background-position: -595px -115px
  width: 55px
  height: 50px
a[href="/jizzsplosion"]:nth-of-type(n):after, a[href="/21424"]:nth-of-type(n):after
  @extend %faces
  background-position: -250px -520px
  width: 50px
  height: 75px
a[href="/ohmy"]:nth-of-type(n):after
  @extend %faces
  background-position: -250px -480px
  width: 46px
  height: 34px
a[href="/likeasir"]:nth-of-type(n):after
  @extend %faces
  background-position: -304px -472px
  width: 45px
  height: 47px
a[href="/likealady"]:nth-of-type(n):after
  @extend %faces
  background-position: -349px -472px
  width: 45px
  height: 47px
a[href="/ifeelsyabreh"]:nth-of-type(n):after
  @extend %faces
  background-position: -450px -30px
  width: 47px
  height: 50px
a[href="/trollmom"]:nth-of-type(n):after
  @extend %faces
  background-position: -332px -240px
  width: 62px
  height: 80px
a[href="/femyao"]:nth-of-type(n):after
  @extend %faces
  background-position: -420px -150px
  width: 63px
  height: 66px
a[href="/ilovethebeefytaco"]:nth-of-type(n):after
  @extend %faces
  background-position: -59px -270px
  width: 32px
  height: 26px
a[href="/gyey"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 0
  width: 26px
  height: 24px
a[href="/gwat"]:nth-of-type(n):after
  @extend %faces
  background-position: -30px 0
  width: 26px
  height: 25px
a[href="/gsmile"]:nth-of-type(n):after
  @extend %faces
  background-position: -60px 0
  width: 26px
  height: 24px
a[href="/gtongue"]:nth-of-type(n):after
  @extend %faces
  background-position: -90px 0
  width: 26px
  height: 25px
a[href="/gohno"]:nth-of-type(n):after, a[href="/gwah"]:nth-of-type(n):after
  @extend %faces
  background-position: -120px 0
  width: 30px
  height: 30px
a[href="/ghappy"]:nth-of-type(n):after
  @extend %faces
  background-position: -150px 0
  width: 30px
  height: 30px
a[href="/gbeh"]:nth-of-type(n):after
  @extend %faces
  background-position: -180px 0
  width: 25px
  height: 25px
a[href="/gohno"]:nth-of-type(n):after
  @extend %faces
  background-position: -210px 0
  width: 30px
  height: 30px
a[href="/gfu"]:nth-of-type(n):after
  @extend %faces
  background-position: -240px 0
  width: 24px
  height: 25px
a[href="/guhm"]:nth-of-type(n):after
  @extend %faces
  background-position: -270px 0
  width: 25px
  height: 30px
a[href="/fu"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -29px
  width: 26px
  height: 26px
a[href="/beh"]:nth-of-type(n):after
  @extend %faces
  background-position: -29px -28px
  width: 27px
  height: 27px
a[href="/gah"]:nth-of-type(n):after
  @extend %faces
  background-position: -60px -30px
  width: 24px
  height: 26px
a[href="/perfect"]:nth-of-type(n):after
  @extend %faces
  background-position: -90px -30px
  width: 26px
  height: 23px
a[href="/happy"]:nth-of-type(n):after
  @extend %faces
  background-position: -120px -30px
  width: 26px
  height: 26px
a[href="/uhm"]:nth-of-type(n):after
  @extend %faces
  background-position: -150px -30px
  width: 24px
  height: 26px
a[href="/wat"]:nth-of-type(n):after
  @extend %faces
  background-position: -180px -30px
  width: 25px
  height: 27px
a[href="/yey"]:nth-of-type(n):after
  @extend %faces
  background-position: -210px -30px
  width: 24px
  height: 26px
a[href="/fuckyeah"]:nth-of-type(n):after
  @extend %faces
  background-position: -240px -30px
  width: 27px
  height: 23px
a[href="/ewbte"]:nth-of-type(n):after
  @extend %faces
  background-position: -270px -30px
  width: 24px
  height: 26px
a[href="/son"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -60px
  width: 23px
  height: 24px
a[href="/high"]:nth-of-type(n):after
  @extend %faces
  background-position: -30px -60px
  width: 26px
  height: 25px
a[href="/poker"]:nth-of-type(n):after
  @extend %faces
  background-position: -60px -60px
  width: 30px
  height: 30px
a[href="/rightmilk"]:nth-of-type(n):after
  @extend %faces
  background-position: -90px -60px
  width: 23px
  height: 26px
a[href="/megusta"]:nth-of-type(n):after
  @extend %faces
  background-position: -120px -60px
  width: 25px
  height: 25px
a[href="/troll"]:nth-of-type(n):after
  @extend %faces
  background-position: -150px -60px
  width: 26px
  height: 27px
a[href="/rtroll"]:nth-of-type(n):after
  @extend %faces
  background-position: -180px -60px
  width: 25px
  height: 26px
a[href="/leftmilk"]:nth-of-type(n):after
  @extend %faces
  background-position: -210px -60px
  width: 22px
  height: 26px
a[href="/futext"]:nth-of-type(n):after
  @extend %faces
  background-position: -240px -60px
  width: 11px
  height: 30px
a[href="/pft"]:nth-of-type(n):after
  @extend %faces
  background-position: -270px -60px
  width: 24px
  height: 25px
a[href="/sadtroll"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -90px
  width: 25px
  height: 25px
a[href="/wetodddog"]:nth-of-type(n):after
  @extend %faces
  background-position: -30px -90px
  width: 27px
  height: 35px
a[href="/harpdarp"]:nth-of-type(n):after
  @extend %faces
  background-position: -60px -91px
  width: 35px
  height: 38px
a[href="/dude"]:nth-of-type(n):after
  @extend %faces
  background-position: -120px -90px
  width: 23px
  height: 26px
a[href="/eyes"]:nth-of-type(n):after
  @extend %faces
  background-position: -150px -90px
  width: 30px
  height: 30px
a[href="/awman"]:nth-of-type(n):after
  @extend %faces
  background-position: -180px -90px
  width: 36px
  height: 29px
a[href="/bepsausage"]:nth-of-type(n):after
  @extend %faces
  background-position: -240px -90px
  width: 57px
  height: 19px
a[href="/lol"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -120px
  width: 22px
  height: 26px
a[href="/omg"]:nth-of-type(n):after
  @extend %faces
  background-position: -120px -120px
  width: 35px
  height: 30px
a[href="/pissed"]:nth-of-type(n):after
  @extend %faces
  background-position: -180px -120px
  width: 20px
  height: 25px
a[href="/hmm"]:nth-of-type(n):after
  @extend %faces
  background-position: -210px -120px
  width: 30px
  height: 30px
a[href="/whoa"]:nth-of-type(n):after
  @extend %faces
  background-position: -240px -120px
  width: 25px
  height: 24px
a[href="/sad"]:nth-of-type(n):after
  @extend %faces
  background-position: -269px -119px
  width: 25px
  height: 25px
a[href="/thumbsup"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -150px
  width: 30px
  height: 25px
a[href="/blackhair"]:nth-of-type(n):after
  @extend %faces
  background-position: -30px -150px
  width: 25px
  height: 30px
a[href="/hehheh"]:nth-of-type(n):after
  @extend %faces
  background-position: -60px -150px
  width: 25px
  height: 25px
a[href="/straight"]:nth-of-type(n):after
  @extend %faces
  background-position: -90px -150px
  width: 25px
  height: 30px
a[href="/bepinthemorning"]:nth-of-type(n):after
  @extend %faces
  background-position: -120px -150px
  width: 100px
  height: 30px
a[href="/red"]:nth-of-type(n):after
  @extend %faces
  background-position: -240px -150px
  width: 34px
  height: 30px
a[href="/bepislaughingatyourmum"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -180px
  width: 60px
  height: 90px
a[href="/nomegusta"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -270px
  width: 24px
  height: 30px
a[href="/wtf"]:nth-of-type(n):after
  @extend %faces
  background-position: -90px -180px
  width: 60px
  height: 90px
a[href="/trolldad"]:nth-of-type(n):after
  @extend %faces
  background-position: -180px -180px
  width: 43px
  height: 60px
a[href="/wayevil"]:nth-of-type(n):after
  @extend %faces
  background-position: -240px -180px
  width: 40px
  height: 40px
a[href="/challengeaccepted"]:nth-of-type(n):after
  @extend %faces
  background-position: -300px -180px
  width: 30px
  height: 40px
a[href="/melvin"]:nth-of-type(n):after
  @extend %faces
  background-position: -300px -240px
  width: 30px
  height: 30px
a[href="/welp"]:nth-of-type(n):after
  @extend %faces
  background-position: -300px -120px
  width: 30px
  height: 33px
a[href="/bepistrollingyoubetter"]:nth-of-type(n):after
  @extend %faces
  background-position: -300px -60px
  width: 30px
  height: 30px
a[href="/djlovestaco"]:nth-of-type(n):after
  @extend %faces
  background-position: -60px -270px
  width: 30px
  height: 30px
a[href="/why"]:nth-of-type(n):after
  @extend %faces
  background-position: -90px -270px
  width: 30px
  height: 30px
a[href="/surprised"]:nth-of-type(n):after, a[href="/suprised"]:nth-of-type(n):after
  @extend %faces
  background-position: -120px -270px
  width: 30px
  height: 30px
a[href="/longneck"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -300px
  width: 63px
  height: 54px
a[href="/sweetjesus"]:nth-of-type(n):after
  @extend %faces
  background-position: -90px -300px
  width: 40px
  height: 38px
a[href="/notokay"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -360px
  width: 31px
  height: 37px
a[href="/yuno"]:nth-of-type(n):after
  @extend %faces
  background-position: -25px -360px
  width: 38px
  height: 44px
a[href="/awyeah"]:nth-of-type(n):after, a[href="/awyea"]:nth-of-type(n):after
  @extend %faces
  background-position: -90px -360px
  width: 65px
  height: 40px
a[href="/ohisthatacarrot"]:nth-of-type(n):after, a[href="/carrt"]:nth-of-type(n):after
  @extend %faces
  background-position: -160px -360px
  width: 32px
  height: 30px
a[href="/iamawaffle"]:nth-of-type(n):after
  @extend %faces
  background-position: -60px -540px
  width: 33px
  height: 35px
a[href="/jackieeeee"]:nth-of-type(n):after
  @extend %faces
  background-position: -210px -360px
  width: 100px
  height: 60px
a[href="/aintthatsomeshit"]:nth-of-type(n):after
  @extend %faces
  background-position: -210px -300px
  width: 50px
  height: 41px
a[href="/igotthis"]:nth-of-type(n):after
  @extend %faces
  background-position: -270px -300px
  width: 50px
  height: 50px
a[href="/teeth"]:nth-of-type(n):after
  @extend %faces
  background-position: -330px -60px
  width: 60px
  height: 60px
a[href="/foreveralonewithyourmum"]:nth-of-type(n):after
  @extend %faces
  background-position: -330px -120px
  width: 90px
  height: 95px
a[href="/megustaperfect"]:nth-of-type(n):after
  @extend %faces
  background-position: -330px 0
  width: 60px
  height: 52px
a[href="/fapfap"]:nth-of-type(n):after
  @extend %faces
  background-position: -330px -330px
  width: 45px
  height: 45px
a[href="/schlick"]:nth-of-type(n):after
  @extend %faces
  background-position: -390px -330px
  width: 40px
  height: 45px
a[href="/hug"]:nth-of-type(n):after
  @extend %faces
  background-position: -430px -325px
  width: 48px
  height: 48px
a[href="/gtfo"]:nth-of-type(n):after
  @extend %faces
  background-position: -30px -270px
  width: 30px
  height: 30px
a[href="/stare"]:nth-of-type(n):after
  @extend %faces
  background-position: -240px -240px
  width: 47px
  height: 36px
a[href="/fumanchu"]:nth-of-type(n):after
  @extend %faces
  background-position: -180px -240px
  width: 60px
  height: 41px
a[href="/vuvu"]:nth-of-type(n):after
  @extend %faces
  background-position: -390px 0
  width: 30px
  height: 30px
a[href="/pfttext"]:nth-of-type(n):after
  @extend %faces
  background-position: -120px -570px
  width: 30px
  height: 30px
a[href="/indeed"]:nth-of-type(n):after
  @extend %faces
  background-position: -450px 0
  width: 15px
  height: 25px
a[href="/ifeelyoubrah"]:nth-of-type(n):after
  @extend %faces
  background-position: -450px -30px
  width: 50px
  height: 50px
a[href="/steve"]:nth-of-type(n):after
  @extend %faces
  background-position: -510px -30px
  width: 40px
  height: 50px
a[href="/serious"]:nth-of-type(n):after
  @extend %faces
  background-position: -540px -90px
  width: 50px
  height: 50px
a[href="/gserious"]:nth-of-type(n):after
  @extend %faces
  background-position: -510px -150px
  width: 50px
  height: 50px
a[href="/gaytroll"]:nth-of-type(n):after
  @extend %faces
  background-position: -540px -210px
  width: 39px
  height: 50px
a[href="/deviltroll"]:nth-of-type(n):after
  @extend %faces
  background-position: -420px -90px
  width: 37px
  height: 50px
a[href="/freddie"]:nth-of-type(n):after
  @extend %faces
  background-position: -480px -240px
  width: 48px
  height: 100px
a[href="/thestonedmod"]:nth-of-type(n):after
  @extend %faces
  background-position: -540px -270px
  width: 50px
  height: 53px
a[href="/notbad"]:nth-of-type(n):after
  @extend %faces
  background-position: -420px -240px
  width: 42px
  height: 67px
a[href="/trollmum"]:nth-of-type(n):after
  @extend %faces
  background-position: -330px -240px
  width: 65px
  height: 80px
a[href="/gwtf"]:nth-of-type(n):after
  @extend %faces
  background-position: -420px -150px
  width: 65px
  height: 65px
a[href="/okay"]:nth-of-type(n):after
  @extend %faces
  background-position: -390px -30px
  width: 60px
  height: 59px
a[href="/splashy"]:nth-of-type(n):after
  @extend %faces
  background-position: -240px -420px
  width: 57px
  height: 45px
a[href="/toomuchweed"]:nth-of-type(n):after
  @extend %faces
  background-position: -180px -420px
  width: 45px
  height: 54px
a[href="/chrisbrpwnd"]:nth-of-type(n):after
  @extend %faces
  background-position: -155px -480px
  width: 91px
  height: 116px
a[href="/dinokay"]:nth-of-type(n):after
  @extend %faces
  background-position: -300px -520px
  width: 60px
  height: 75px
a[href="/dino"]:nth-of-type(n):after
  @extend %faces
  background-position: -360px -530px
  width: 43px
  height: 63px
a[href="/table"]:nth-of-type(n):after
  @extend %faces
  background-position: -405px -555px
  width: 56px
  height: 39px
a[href="/nowkiss"]:nth-of-type(n):after
  @extend %faces
  background-position: -460px -532px
  width: 73px
  height: 55px
a[href="/everybodywalkthedinosaur"]:nth-of-type(n):after
  @extend %faces
  background-position: -535px -560px
  width: 75px
  height: 36px
a[href="/angryharpdarp"]:nth-of-type(n):after
  @extend %faces
  background-position: -612px -555px
  width: 36px
  height: 40px
a[href="/cerealspit"]:nth-of-type(n):after
  @extend %faces
  background-position: -646px -555px
  width: 52px
  height: 34px
a[href="/biebs"]:nth-of-type(n):after
  @extend %faces
  background-position: -120px -420px
  width: 49px
  height: 68px
a[href="/cereal"]:nth-of-type(n):after
  @extend %faces
  background-position: -47px -414px
  width: 40px
  height: 33px
a[href="/foreveralonelaugh"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -450px
  width: 75px
  height: 86px
a[href="/ohcrap"]:nth-of-type(n):after
  @extend %faces
  background-position: 0 -420px
  width: 30px
  height: 29px
a[href="/jasonqualman"]:nth-of-type(n):after
  @extend %faces
  background-position: -80px -485px
  width: 36px
  height: 50px
a[href="/jonzibar"]:nth-of-type(n):after
  @extend %faces
  background-position: -119px -480px
  width: 40px
  height: 55px
a[href="/fyl"]:nth-of-type(n):after
  @extend %faces
  background-position: -90px -480px
  width: 36px
  height: 50px
a[href="/rmilk"]:nth-of-type(n):after
  @extend %faces
  background-position: -90px -60px
  width: 21px
  height: 25px
a[href="/ewbtetext"]:nth-of-type(n):after
  @extend %faces
  background-position: -120px -541px
  width: 14px
  height: 10px
a[href="/trap"]:nth-of-type(n):after
  @extend %faces
  background-position: -480px -90px
  width: 41px
  height: 40px

/* Flairs */
/* Cocks */
.flair-cock, .linkflair-cock .linkflairlabel, a[href="/cock"]
  background-image: url(%%cockflair%%)
  background-position: right center
  background-repeat: no-repeat
  display: inline-block
  height: 24px
  text-indent: -9999px
  vertical-align: middle
  width: 21px

  &:hover
    text-indent: 0
    width: auto
    padding-right: 30px
    max-width: none

a[href="/cock"]
  width: 24px

/* Goats */
.flair-goat, .linkflair-goat .linkflairlabel, a[href="/goat"]
  background-image: url(%%goatflair%%)
  background-position: right center
  background-repeat: no-repeat
  display: inline-block
  height: 24px
  text-indent: -9999px
  vertical-align: middle
  width: 21px

  &:hover
    text-indent: 0
    width: auto
    padding-right: 30px
    max-width: none

a[href="/goat"]
  width: 24px


/* Other stuff */
